<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbyBgJOjszzfNEYNkiDiA-LQOTOsC5fyg</string>
	<key>GCM_SENDER_ID</key>
	<string>827711607891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-156ef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-156ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827711607891:ios:ab16abe8b706828a4be2a6</string>
</dict>
</plist>